
$dark-theme: false;
/*$base-color: #4abce7;*/
@import 'sencha-touch/mountainview';
@import 'sencha-touch/mountainview/all';
//@import 'sencha-touch/default';
//@import 'sencha-touch/default/all';

@import '../../packages/Material/sass/src/Material.scss';
@include md-ripple;

@include icon-font('FAIcons', inline-font-files(
'fontAwesome/fontawesome-webfont.woff', woff,
'fontAwesome/fontawesome-webfont.ttf', truetype,
'fontAwesome/fontawesome-webfont.svg', svg,
'fontAwesome/fontawesome-webfont.eot', eot
));

@include md-button;
@include md-text-field;
@include md-toggle;
//@include md-slide;
@include md-tab;
@include md-checkbox;
@include md-message-box;
@include md-progress-circular;
@include md-toolbar;
@include md-select;
@include md-date-picker;

@include icon('list');
@include icon('trash');
@include icon('add');
@include icon('minus2');
@include icon('browser');
@include icon('box');
@include icon('power');
@include icon('pencil');
@include icon("rupee", '\f156', "FAIcons");
@include icon("map-pin", '\f276', "FAIcons");
@include icon("asterisk", '\f069', "FAIcons");
@include icon("credit-card", '\f09d', "FAIcons");
@include icon("check", '\f00c', "FAIcons");
@include icon("clock-o", '\f017', "FAIcons");
@include icon("check", '\f00c', "FAIcons");
@include icon("menu", '\f0c9', "FAIcons");
@include icon('search', '\f002', "FAIcons");
@include icon('cart', '\f07a', "FAIcons");
@include icon('user', '\f007', "FAIcons");


.rupeeCls:before {
  font-family: "FAIcons";
  content: "\f156";
}

@mixin accordionlist {
  .x-accordion-list {
    .x-list-item .x-innerhtml {
      display: -webkit-box;
      font-size: 12px;
      font-weight: 400;
    }
    .down {
      position: relative;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top-color: #999;
      top: 4px;
      margin-right: 0.4em;
    }
    .right {
      position: relative;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-left-color: #999;
      top: 2px;
      margin-right: 0.4em;
    }
    .x-list-item.x-item-selected .down {
      border-top-color: #fff;
    }
    .x-list-item.x-item-selected .right {
      border-left-color: #fff;
    }
  }
}

@include accordionlist;

.x-toolbar.x-toolbar-dark .x-button {
  min-width: 32px !important;
  margin: 0px !important;
}

.x-toolbar.x-toolbar-dark .x-button:hover,
.x-toolbar .x-button-icon:before,
.x-toolbar .x-title {
  background-color: transparent !important;
  color: $md-white-100;
  margin-top: 0px !important;
}